/*重置默认样式*/
body,h1,h3,h5,p,ul{
	margin: 0;
}
html,body{
	font-size: 16px;
}
a{
	text-decoration: none;
}
input{
	border: none;
}
ul{
	padding: 0;
}
li{
	list-style: none;
}


.content-wrap{
	max-width: 750px;
	margin: 0 auto;
	overflow: hidden;
}
/*顶部弹出层*/
.dropdown{
	width: 100%;
	height: 150px;
	background-color: black;
	color: #fff;
	display: none;
	position: fixed;
	left: -100%;
	z-index: 2;
}
.dropdown ul{
	padding-top: 10px;
}
.dropdown li{
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 10px;
}

/*头部*/
header{
	width: 100%;
	height: 30px;
	position: relative;
	padding: 35px 0;
}
.icon-wrap{
	width: 14px;
	padding: 5px;
	border: 1px solid black;
	position: absolute;
	left: 35px;
	cursor: pointer;
}
.icon{
	width: 14px;
	height: 14px;
	background-color: black;
}
.content-title{
	text-align: center;
	font-size: 1.25rem;
}

/*第一个轮播图*/
.content-head{
	display: flex;
	justify-content: center;
	position: relative;
	font-size: 1rem;
	overflow: hidden;
}
.swiper-container{
	width: 100%;
	height: 442px;
}
.swiper-pagination{
	bottom: 5%;
}
.swiper-pagination-bullet{
	width: 16px;
	height: 16px;
	border-radius: 0;
	margin-right: 10px;
	border-bottom: 2px solid #867d84;
	background-color: transparent;
	opacity: 1;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
	outline: none;
}
.swiper-pagination-bullet-active{
	border-color: #fff;
}
.swiper-slide{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img-head{
	width: 100%;
	height: 100%;
}
.img-head-title{
	position: absolute;
	bottom: 22%;
	color: #fff;
	font-weight: normal;
	font-size: 3.1rem;
	z-index: 3;
}
.img-head-title2{
	position: absolute;
	bottom: 15%;
	color: #fff;
	font-weight: normal;
	z-index: 3;
}

/*tab区*/
.tab-title{
	overflow: hidden;
	letter-spacing: 2px;
}
.domestic,.asia,.europe{
	display: inline-block;
	width: 33.33%;
	text-align: center;
	height: 80px;
	line-height: 80px;
	color: #fff;
	float: left;
}
.domestic{
	background-color: #222222;
}
.asia{
	background-color: #333333;
}
.europe{
	background-color: #444444;
}
.tab-content{
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 140px;
	background-color: black;
}
.city-list{
	width: 100%;
	height: 140px;
	padding: 30px 7%;
	background: url(../images/bg-tab.jpg);
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.city-list a{
	text-decoration: underline;
	display: inline-block;
	line-height: 45px;
	font-size: 1.05rem;
	color: #e2e2e2;
	width: 15%;
}

/*第二张大图*/
.exhibition{
	position: relative;
	overflow: hidden;
}
.exhibition-img{
	width: 100%;
	height: 450px;
}
.exhibition-area{
	width: 80%;
	height: 60px;
	line-height: 60px;
	background-color: #222222;
	position: absolute;
	bottom: 0;
	left: 10%;
}
.exhibition-area{
	display: flex;
	color: #ffffff;
	z-index: 1;
}
.exhibition-left{
	width: 10%;
	background-color: #333333;
	text-align: center;
	float: left;
	cursor: pointer;
	font-size: 22px;
	outline: none;
}
.exhibition-text{
	width: 80%;
	text-align: center;
}
.exhibition-right{
	width: 10%;
	background-color: #333333;
	text-align: center;
	cursor: pointer;
	font-size: 22px;
	outline: none;
}

/*客照展示区域二*/
.exhibition-two{
	padding: 60px 50px 30px 50px;
	background-color: #fff;
}
#swiper3{
	height: 100%;
}
#swiper3 img{
	width: 50%;
	height: 100%;
	cursor: pointer;
}
.more-pic{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid black;
}
.more-pic h3{
	font-weight: normal;
	float: left;
	font-size: 1.125rem;
}
.more-pic span{
	float: right;
	font-size: 24px;
	cursor: pointer;
}

/*海报区*/
.beijing-pic{
	position: relative;
	overflow: hidden;
}
.beijing-pic img{
	width: 100%;
	float: left;
}
.beijing-pic a{
	position: absolute;
	display: inline-block;
	width: 22%;
	height: 8%;
	bottom: 21%;
	left: 16%;
}
.lijiang-pic{
	position: relative;
	overflow: hidden;
}
.lijiang-pic img{
	width: 100%;
	float: left;
}
.lijiang-pic a{
	position: absolute;
	display: inline-block;
	width: 22%;
	height: 8%;
	bottom: 21%;
	right: 16%;
}

/*研发样照区*/
.sample{
	padding: 50px 40px;
}
.sample img{
	width: 100%;
}
.sample-text{
	border-bottom: 1px dashed #000000;
	overflow: hidden;
	height: 60px;
	line-height: 60px;
}
.sample-text h5{
	float: left;
	font-size: 1.25rem;
}
.sample-text span{
	float: right;
	font-weight: bold;
	letter-spacing: 3px;
}

/*top系列区域*/
.top-area{
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.top-area img{
	float: left;
	cursor: pointer;
}
.top-two,.top-three{
	display: flex;
}
.top-four{
	width: 50%;
	overflow: hidden;
}
.top-movie,.top-makeups,.top-service{
	width: 100%;
}
.top-courtesy,.top-team,.top-queen{
	width: 50%;
	height: 100%;
}

/*TopQueen*/
.queen img{
	width: 100%;
	float: left;
}

/*表单区*/
.content-form{
	padding: 70px;
	background-color: #4a4a4a;
	display: flex;
	flex-direction: column;
	color: #fff;
	margin-top: 20px;
}
.form-text{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #929292;
	padding-bottom: 14px;
}
form{
	margin-top: 20px;
}
.form-text-info{
	direction: rtl;
}
.form-text-info h3{
	font-weight: normal;
}
.form-text-info p{
	margin-top: 10px;
	font-size: 0.9rem;
}
.form-name,.form-phone,.form-weixin{
	width: 100%;
	height: 40px;
	text-indent: 15px;
	background-color: #838383;
	margin-bottom: 15px;
	color: #fff;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  	color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   	color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   	color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  	color: #fff;
}

.submit{
	width: 100%;
	height: 40px;
	background-color: #000000;
	color: #fff;
	letter-spacing: 8px;
	cursor: pointer;
	outline: none;
}

/*尾部*/
footer{
	width: 70%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 20px auto 0;
	font-size: 0.75rem;
	border-top: 1px solid black;
}