@charset "utf-8";

/*640-767分辨率*/
@media only screen and (max-width:767px) and (min-width:640px) {

}

/*320-639分辨率*/
@media only screen and (max-width:639px) and (min-width:320px) {
	html,body{
		font-size: 14px;
	}
	header{
		padding: 15px 0;
	}

	/*tab区*/
	.domestic,.asia,.europe{
		height: 50px;
		line-height: 50px;
	}
	.city-list{
		padding: 14px 4%;
	}
	.city-list a{
		font-size: 0.85rem;
		line-height: 35px;
	}
	.tab-content,.city-list{
		height: 100px;
	}
	.exhibition-area{
		height: 40px;
		line-height: 40px;
	}
	.exhibition-img{
		height: 250px;
	}
	.more-pic h3{
		font-size: 1rem;
	}
	.more-pic span{
		font-size: 1.5rem;
	}

	/*客照展示区域二*/
	.exhibition-two{
		padding: 20px 30px 20px 20px;
	}
	.exhibition-two-img img{
		width: 48%;
	}
	.more-pic{
		height: 40px;
		line-height: 40px;
	}
	.more-pic h3{
		font-size: 1rem;
	}

	/*研发样照区*/
	.sample{
		padding: 30px 20px;
	}

	/*表单区*/
	.content-form{
		padding: 20px;
	}
	.form-text-title{
		font-size: 1.85rem;
	}
	.form-text-info h3{
		font-size: 1rem;
	}
	.form-text-info p{
		font-size: 0.75rem;
	}
}

/*320分辨率以下*/
@media only screen and (max-width:319px) {
	
}